body{
    margin: 20px;
}

.area{
    padding: 0px 15px;

    h3{
        color: blue;
    }
}

.rodape{
    padding: 0px 15px;
    background-color: red !important;

}

.navbar{
    background-color: red !important;

}


